<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="erlang" version="17.3.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net472" />
  <package id="rabbitmq" version="3.4.1.0" targetFramework="net472" />
  <package id="RabbitMQ.Client" version="3.4.3" targetFramework="net472" />
</packages>